.footer__content {
    position: absolute;
    text-align: center;
    margin-left: 600px;
    margin-top: 105px;
}
.footer__title {
    font-size: 22px;
    line-height: 33px;
    color: #ffcf4a;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}
.footer__subtitle {
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 55px;
    color: #222222;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    margin-top: -30px;
}
.footer__text {
    width: 627px;
    height: 45px;
    font-size: 16px;
    line-height: 26px;
    color: #606168;
    font-weight: 400;
    font-family: "Montserrat";
    margin-left: 20px;
    margin-top: -20px;
}
.footer__img {
    margin-left: 160px;
    margin-top: 390px;
    position: absolute;
}
.company__logo {
    margin-left: 90px;
}
.slack__img {
    width: 25px;
    height: 25px;
}