.mobile__content {
    margin-left: 312px;
    margin-top: 190px;
}
.mobile__title {
    font-size: 22px;
    line-height: 33px;
    color: #ffcf4a;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin-left: -1280px;
}
.mobile__subtitle {
    font-size: 40px;
    letter-spacing: 0px;
    line-height: 55px;
    color: #222222;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}
.mobile__text {
    width: 519px;
    height: 271px;
    font-size: 16px;
    line-height: 26px;
    color: #606168;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
.mobile__of {
    margin-top: -150px;
    width: 519px;
    height: 271px;
    font-size: 16px;
    line-height: 26px;
    color: #606168;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
.mobile__full {
    margin-top: -200px;
    width: 519px;
    height: 271px;
    font-size: 16px;
    line-height: 26px;
    color: #606168;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}
.mobille__span {
    width: 519px;
    height: 271px;
    font-size: 16px;
    line-height: 26px;
    color: #fac227;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}
.mobile__btn {
    width: 180px;
    height: 50px;
    margin-top: -190px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:  #614bd3;
    background-color: #e1e1ee;
    border: 0.5px solid #ffffff;
    position: absolute;
} 
.btn__button:hover {
    width: 180px;
    height: 50px;
    border-radius: 4px;
    color:  #ffff;
    font-size: 17px;
    border: 0.5px solid #ffffff;
    background-image: linear-gradient(62deg, #3a39c8 0%, #f88fff 100%);
}
.mobile__img {
    margin-left: 990px;
    margin-top: -720px;
}
.mibile__yellow {
    position: absolute;
    z-index: 9;
    margin-left:-20px;
    margin-top: 180px;
}
.mobile__pink {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 17px;
    margin-top: 310px;
    margin-left: 107px;
}
.mobile__violet {
    position: absolute;
    margin-left: 580px;
    margin-top: 350px;
}
.mobile__path  {
    position: absolute;
    padding-left: 320px;
    margin-top: 590px;
}
.mobile__dot {
    position: absolute;
    margin-top: -270px;
}
.box {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
.pink {
    animation-name: ellips__pink;
    animation-timing-function: linear;
}
.violet {
    animation-name: ellips__violet;
    animation-timing-function: linear;
}
.yellow {
    animation-name: ellips__yellow;
    animation-timing-function: linear;
}
.path {
    animation-name: mobile__path;
    animation-timing-function: linear;
}
@keyframes ellips__pink  {
    50%  { transform: translateY(-10px); }
}
@keyframes ellips__violet  {
    0%  { transform: translateY(0); }
    50%  { transform: translateY(-15px); }
    100%  { transform: translateY(0); }
}
@keyframes ellips__yellow {
    0%  { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100%  { transform: translateY(0); }
}
@keyframes mobile__path {
    0%  { transform: translateY(0); }
    50%  { transform: translateY(-10px); }
    100%  { transform: translateY(0); }
}

