
.preloader {
	@include position(fixed, 0, 0);
	@include flexbox;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	background-color: #fff;
	animation: 1s overlay 2.5s linear forwards;
	h1 {
		@include font("Poppins", 72px, 700);
		animation: 1s fontSize 0s ease-in-out forwards;
	}
}

@keyframes overlay {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fontSize {
	from {
		font-size: 372px;
	}
	to {
		font-size: 72px;
	}
}

@keyframes overlay {
	from {

	}
	to {

	}
}

